{% extends 'global/layout_form.html.twig' %}

{% set titlePage = 'page.marcas.title.new' | trans %}
{% set menu = "marcas" %}
{% set pathCancel = path('marcas_index') %}

{% block formContent %}
<div class="znv-half">
    {{ form_row(form.descripcion) }}
</div>

{% endblock %}
