{% extends 'global/layout_view.html.twig' %}

{% set titlePage = "page.stock.title.view" | trans %}
{% set menu = "articulos" %}

{% block buttonsTitle %}
{% set referer = (app.request.server.get('HTTP_REFERER') is not null ?
            app.request.server.get('HTTP_REFERER')|default('/') :
            path('articulos_index')) %}
<li>
    {{ macro_buttonReturn(referer) }}
</li>
{% endblock %}

{% block viewContent %}

<div class="znv-card-full znv-highlight">
    <div class="znv-form-group-view">
        <p>{{ 'page.marcas.labels.name'|trans }}</p>
        <h3>{{ articulos.descripcion }}</h3>
    </div>
</div>

<div class="znv-card-full znv-two-column">
    {% set sum = 0 %}
    {% for stock in articulos.stock %}
        {% set sum = sum + stock.cantidad %}      
    {% endfor %}

    {{ macro_cardHalfView('page.stock.labels.actual' | trans, sum) }}
    <button id="adminStock" type="submit" class="znv-button">Cargar</button>  
</div>

<script>
    $(document).ready(function() {
        $('#adminStock').on('click', function(e) {          
            let valor = prompt("Ingrese Valor")        

            if (valor){
                (valor !== null  && valor !== ''  && valor!==undefined) ? console.log(valor) : ''
            }
        });
    })
</script>
{% endblock %}