{% extends 'global/layout_form.html.twig' %}

{% set titlePage = 'page.ventas-recurrentes.title.new' | trans %}
{% set menu = "ventas" %}
{% set pathCancel = path('ventas_index') %}
{% set num_control = 0 %}
{% block formContent %}
<div class="znv-half">
    {{ form_row(form.desde) }}
</div>
<div class="znv-half">
    {{ form_row(form.hasta) }}
</div>
 <div class="znv-half">
  {{ form_row(form.cantidad) }}
 </div>
 <div class="znv-half">
  {{ form_row(form.importe) }}
 </div>



 {# ## JQuery ## #}
{% endblock %}
