<footer class="copyright">
    <p>Copyright © 2020 Zennovia Skeleton</p>
    <a target="_blank" href="http://www.zennovia.com">
        <img src="{{ asset('build/images/powered_by_zennovia.png') }}" width="145" height="13" alt="Powered by Zennovia"
             title="Powered by Zennovia">
    </a>
</footer>
